In [2]:
Name = 'python programming'
print(Name,type(Name))

python programming <class 'str'>

In [3]:
Name = "python programming"
print(Name,type(Name))

python programming <class 'str'>

In [4]:
Name = '''python programming'''
print(Name,type(Name))

python programming <class 'str'>

In [5]:
Name = """python programming"""
print(Name,type(Name))

python programming <class 'str'>

In [6]:
question = 'how are you ?'
print(question,type(question))

how are you ? <class 'str'>

In [7]:
where_abouts = 'what's up'
print(where_abouts)

SyntaxError: unterminated string literal (detected at line 1) (2002953641.py, line 1)

throws an error because there is a quote in between so we need to use slash\ to escape  in this kind of cases

In [8]:
where_abouts = 'what\'s up'
print(where_abouts)

what's up

In [9]:
other_string = 'what's going on in your's in-law's house'
print(other_string)

SyntaxError: unterminated string literal (detected at line 1) (3982806767.py, line 1)

In [11]:
other_string = 'what\'s going on in your\'s in-law\'s house'
print(other_string)

what's going on in your's in-law's house

practically the problem is solved but in the case of a large string it will be difficult to place a \ infront of every ' so we can use " instead of '

In [12]:
other_string = "what's going on in your's in-law's house"
print(other_string)

what's going on in your's in-law's house

In [ ]:
sql_cmd = "select * from mytable where name = 'hema' and profession like "%work""
print(sql_cmd)

SyntaxError: invalid syntax (2405531270.py, line 1)

we can use ''' ****** ''' in this case

In [16]:
sql_cmd = '''select * from mytable where name = 'hema' and profession like "%work"'''
print(sql_cmd)

select * from mytable where name = 'hema' and profession like "%work"

multi line strings

In [17]:
print(
    "today is amazing day
    to learn python "
)

SyntaxError: unterminated string literal (detected at line 2) (2286288243.py, line 2)

\ - line continuation operator

In [19]:
print(
    'today is amazing day\
    to learn python '
)

today is amazing day    to learn python

In [20]:
print(
    "today is amazing day\
    to learn python "
)

today is amazing day    to learn python

In [21]:
print(
    '''today is amazing day\
    to learn python '''
)

today is amazing day    to learn python

In [22]:
print(
    """today is amazing day\
    to learn python """
)

today is amazing day    to learn python

by default triple quotes are designed for multiline

In [23]:
print(
    '''today is amazing day
    to learn python '''
)

today is amazing day
    to learn python

In [24]:
print(
    """today is amazing day
    to learn python """
)

today is amazing day
    to learn python

In [25]:
print(
    """
    a- apple
    b- ball
    c- cat
    d- dog
    """
)

    a- apple
    b- ball
    c- cat
    d- dog

In [26]:
sql_cmd = ''' select name = 'dijango''''

SyntaxError: unterminated string literal (detected at line 1) (2194356862.py, line 1)

throws an errorm because there is no apce b/w string ' and '''

In [28]:
sql_cmd = ''' select name = 'dijango' '''
print(sql_cmd)

 select name = 'dijango'

In [29]:
sql_cmd = """ select name = 'dijango""""
print(sql_cmd)

SyntaxError: unterminated string literal (detected at line 1) (585870209.py, line 1)

In [30]:
sql_cmd = """ select name = 'dijango" """
print(sql_cmd)

 select name = 'dijango"

string indexing

In [31]:
language = 'python programming'
print(language)

python programming

In [32]:
language = 'python programming'
print('len(language)=',len(language))

len(language)= 18

In [33]:
print("language:",language)
print("language[9]:",language[9])
print("language[14]:",language[14])
print("language[6]:",language[6])

language: python programming
language[9]: o
language[14]: m
language[6]:

In [34]:
print("language[18]:",language[18])

IndexError: string index out of range

In [35]:
print("language[0]:",language[0])
print("language[-0]:",language[-0])

language[0]: p
language[-0]: p

In [36]:
print("language:",language)
print("language[-9]:",language[-9])
print("language[-14]:",language[-14])
print("language[-6]:",language[-6])

language: python programming
language[-9]: o
language[-14]: o
language[-6]: a

In [37]:

print("language[-19]:",language[-19])

IndexError: string index out of range

lenght = n 
length can be -n to n-1

string slicing operation

In [38]:
print("language[0:11]:",language[0:11])

language[0:11]: python prog

In [39]:
print("language[5:17]:",language[5:17])

language[5:17]: n programmin

In [40]:
print("language[7:10]:",language[7:10])

language[7:10]: pro

In [41]:
print("language[0:5]:",language[0:5])
print("language[0:6]:",language[0:6])

language[0:5]: pytho
language[0:6]: python

In [42]:
print("language[0:99]:",language[0:99])
print("language[7:20]:",language[7:20])
print("language[45:53]:",language[45:53])

language[0:99]: python programming
language[7:20]: programming
language[45:53]:

slicing operation generally has three atributes
language[start index : stop index : step]
default step is +1

In [3]:
language="python programming"
print(language[7:18])
print(language[7:18:1])

programming
programming

step 
[7:18:3] - 7,10,13,16

In [4]:
print(language[7:18:3])

pgmn

In [5]:
print("language[7:18:-1]=",language[7:18:-1])

language[7:18:-1]=

In [6]:
print("language[17:7:-1]=",language[17:7:-1])

language[17:7:-1]= gnimmargor

In [7]:
print("language[18:6:-1]=",language[18:6:-1])

language[18:6:-1]= gnimmargorp

In [8]:
print("language[18:6:-3]=",language[18:6:-3])

language[18:6:-3]= gmrr

In [9]:
print("language[23:6:-3]=",language[23:6:-3])

language[23:6:-3]= gmrr

In [10]:
print("language[25:6:-2]=",language[25:6:-2])

language[25:6:-2]= gimrop

In [11]:
print("language[0:7:+1]=",language[0:7:+1])
print("language[:7]=",language[:7])

language[0:7:+1]= python
language[:7]= python

In [12]:
print("language[0:]=",language[0:])
print("language[6:]=",language[6:])

language[0:]= python programming
language[6:]=  programming

In [ ]:
print("language[:]=",language[:])
print("language=",language)
print("language[::]=",language[::])

language[:]= python programming
language= python programming
language[:]= python programming

In [16]:
print("language[::1]=",language[::1])
print("language[::3]=",language[::3])

language[::1]= python programming
language[::3]= ph oai

if the step is -ve 
start index = str len - 1
final index = -1

In [17]:
print("language[::-1]=",language[::-1])

language[::-1]= gnimmargorp nohtyp

In [19]:
name = " varun dhawan"
print("name[:]=",name[:])
print("name[::]=",name[::])
print("name[::1]=",name[::1])
print("name[::-1]=",name[::-1])

name[:]=  varun dhawan
name[::]=  varun dhawan
name[::1]=  varun dhawan
name[::-1]= nawahd nurav

In [ ]:
print("name[5:0:-1,12:6:-1]=",name[5:0:-1],name[12:6:-1])

name[5:0:-1 , 12:6:-1]= nurav nawahd