#string formatting
3 types - 1) old style
          2) new style
          3) f_strings

In [3]:
print("my lucky number is %d " % 12)

my lucky number is 12

In [4]:
print("my lucky number is %f " % 12)
print("my lucky number is %f " % 12.34)
print("my lucky number is %f " % False)
print("my lucky number is %f " % True)

my lucky number is 12.000000
my lucky number is 12.340000
my lucky number is 0.000000
my lucky number is 1.000000

In [5]:
print("my lucky number is %s " % 12)
print("my lucky number is %s " % 12.34)
print("my lucky number is %s " % False)
print("my lucky number is %s " % True)
print("my lucky number is %s " % "12")

my lucky number is 12
my lucky number is 12.34
my lucky number is False
my lucky number is True
my lucky number is 12

In [6]:
print("my lucky number is %r " % 12)
print("my lucky number is %r " % 12.34)
print("my lucky number is %r " % False)
print("my lucky number is %r " % True)
print("my lucky number is %r " % "12")

my lucky number is 12
my lucky number is 12.34
my lucky number is False
my lucky number is True
my lucky number is '12'

In [ ]:
print("%g" % 12.34)
print("%G" % 12.34)
print("%G" % 12.34234556677) #gives only 4 digits after decimal

12.34
12.34
12.3423

In [2]:
#exponntial format
print("%e" % 12.34)
print("%E" % 12.34)
print("%E" % 12.34234556677)

1.234000e+01
1.234000E+01
1.234235E+01

In [6]:
import math
print(math.pi)
print("%d" % math.pi)
print("%f" % math.pi)
print("%9f" % math.pi)
print("%9.3f" % math.pi)

3.141592653589793
3
3.141593
 3.141593
    3.142

In [7]:
print("my name is %s %s" % ("hema","latha"))

my name is hema latha

In [9]:
print("my name is %s i am %d years old born in %d" % ("hema",20,2004))

my name is hema i am 20 years old born in 2004

In [10]:
print("my name is %s i am %d years old born in %d" % ("hema",'20',2004))

TypeError: %d format: a real number is required, not str

In [12]:
print("my name is %r i am %r years old born in %r" % ("hema",'20',2004))
print("my name is %s i am %s years old born in %s" % ("hema",'20',2004))

my name is 'hema' i am '20' years old born in 2004
my name is hema i am 20 years old born in 2004

In [13]:
print("my name is %r i am %r years old born in %r" % ("hema",'20'))

TypeError: not enough arguments for format string

new style string formating

In [14]:
print("{}".format(""))

In [15]:
print("{}".format("hema"))
print("{{}}".format("hema"))
print("{{{}}}".format("hema"))

hema
{}
{hema}

In [18]:
print("{} and {}".format("hema","latha"))
print("{} and {}".format(122,True))
print("{} and {}".format("hema",None))
print("{} and {}".format(12.34,"latha")) 

#less focuses on the data type

hema and latha
122 and True
hema and None
12.34 and latha

In [ ]:
print("{} and {}".format("hema","latha"))
print("{0} and {1}".format("hema","latha"))
print("{1} and {0}".format("hema","latha"))

#order can be specified

hema and latha
hema and latha
latha and hema

In [20]:
print("{} and {}".format("hema"))

IndexError: Replacement index 1 out of range for positional args tuple

In [21]:
print("{0} and {0}".format("hema"))

hema and hema

In [22]:
print("{}".format(12323456789.00))
print("{:}".format(12323456789.00))
print("{:,}".format(12323456789.00))
print("{:_}".format(12323456789.00))
print("{:-}".format(12323456789.00))
print("{:+}".format(12323456789.00))
print("{:+}".format(-12323456789.00))

12323456789.0
12323456789.0
12,323,456,789.0
12_323_456_789.0
12323456789.0
+12323456789.0
-12323456789.0

In [24]:
print("{:=10}".format(12345))
print("{:0=10}".format(12345))
print("{:a=10}".format(12345))

     12345
0000012345
aaaaa12345

In [ ]:
print("{:<20}".format(12345)) #left
print("{:>20}".format(12345)) #right
print("{:^20}".format(12345)) #center

12345
               12345
       12345

In [ ]:
print("{:_<20}".format(12345)) #left
print("{:->20}".format(12345)) #right
print("{:*^20}".format(12345)) #center

#with fill value

12345_______________
---------------12345
*******12345********

In [ ]:
print("{:}".format(12345)) 
print("{:b}".format(12345)) #binary
print("{:o}".format(12345)) #oct
print("{:x}".format(12345)) #hexadecimal

12345
11000000111001
30071
3039

In [29]:
result = {
    "customer": "hema",
    "bank" : 1234,
    "transaction_amount" : 20000,
    "transaction_time" : "5min"

}

print(" dear {customer} \n having account number {bank} your amount {transaction_amount} has been credited in {transaction_time}".format(**result))

 dear hema
 having account number 1234 your amount 20000 has been credited in 5min